.button {
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;

  transition: all 0.2s ease-in-out;

  &.primary-button {
    background-color: #d20d3b;
    color: white;
  }

  &:active {
    transform: scale(0.9);
  }
}
